@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace !important;
  text-decoration: none;
  list-style: none;
  color: #495464;
}
* .loading,
body .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  min-height: 100vh;
  width: 100vw;
  background-color: #F4F4F2;
  -webkit-animation: loading 1s forwards 1.5s;
          animation: loading 1s forwards 1.5s;
}
@-webkit-keyframes loading {
  to {
    transform: translatey(100vh);
    opacity: 0;
  }
}
@keyframes loading {
  to {
    transform: translatey(100vh);
    opacity: 0;
  }
}
* .loading img,
body .loading img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1;
}
header .contatos {
  display: flex;
  align-items: center;
}
header .contatos li {
  margin: 0 8px;
}
header .contatos li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  -webkit-animation: girando 10s infinite 5s;
          animation: girando 10s infinite 5s;
  color: #495464;
}
@-webkit-keyframes girando {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}
@keyframes girando {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}

nav div {
  cursor: pointer;
}
nav div span {
  display: block;
  width: 40px;
  border-top: 4px solid #495464;
}
nav div span::after, nav div span::before {
  border-top: 4px solid #495464;
  content: "";
  display: block;
  position: relative;
  margin-top: 3px;
  transition: 0.4s;
}
nav ul {
  position: fixed;
  background-color: #E8E8E8;
  top: 10vh;
  left: 100vw;
  transition: 0.5s;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 18vh;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}

.botao-animation {
  border-top-color: transparent;
  margin: 0 0 15px 0;
}
.botao-animation::after {
  transform: rotate(135deg);
}
.botao-animation::before {
  transform: rotate(-135deg);
  top: 7px;
}

.lista-ativa {
  left: 0;
}

main {
  position: relative;
  padding-top: 10vh;
}

.home {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F4F4F2;
  transition: 0.4s;
}
.home .apresentacao {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.home .apresentacao .avatar {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 22px;
}
.home .apresentacao span {
  font-size: 16px;
}
.home .apresentacao h1 {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}
.home .apresentacao h2 {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}
.home .apresentacao p {
  margin-top: 10px;
  text-align: center;
}
.home .apresentacao .terra {
  margin-top: 10px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  padding: 10px;
}
.home .curriculo {
  display: flex;
  align-items: center;
}
.home .curriculo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #495464;
  margin: 0 10px;
}

.sobre-mim {
  background-color: #E8E8E8;
  padding: 30px 40px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sobre-mim h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0;
  text-decoration: underline;
  padding-bottom: 1px;
  border-bottom: 1px solid #BBBFCA;
}
.sobre-mim p {
  font-size: 14px;
  margin-bottom: 20px;
}

.habilidades {
  background-color: #F4F4F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
}
.habilidades h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0 20px 0;
  text-decoration: underline;
  padding-bottom: 1px;
  border-bottom: 1px solid #BBBFCA;
}
.habilidades ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.habilidades ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}
.habilidades ul li ion-icon {
  font-size: 55px;
}
.habilidades ul li img {
  height: 48.13px;
  width: 48.13px;
  margin-bottom: 5px;
}

.projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  background-color: #E8E8E8;
}
.projetos h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0 20px 0;
  text-decoration: underline;
  padding-bottom: 1px;
  border-bottom: 1px solid #BBBFCA;
}
.projetos ul li {
  border-radius: 25px;
  margin: 10px 0;
  padding: 50px;
  border: 1px solid #BBBFCA;
}

.contato {
  background-color: #F4F4F2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}
.contato h2 {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0 20px 0;
  text-decoration: underline;
  padding-bottom: 1px;
  border-bottom: 1px solid #BBBFCA;
}
.contato form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
}
.contato form input {
  width: 100%;
  margin: 2px 0;
  padding: 10px;
}
.contato form textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

footer {
  position: relative;
  background-color: #E8E8E8;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */