header {
    position: fixed;
    background-color: $color-primaria;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 100vw;
    height: 12vh;

    .code { 
        font-size: 50px;
        color: $color-fonte-secundaria;
    }
}