main {
    padding: 12vh 0 0 0;

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(max(100%/2, min(345px, 100%)), 1fr));
        background-color: $color-secundaria;
        min-height: 88vh;

        .home-foto {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                margin: 30px 0 0 0;
                border-radius: 100%;
                width: 300px;
                height: 300px;
            }

            ul {
                display: flex;
                align-items: center;
             
                margin: 30px 0;

                li {
                    a {
                        color: $color-fonte;
                        font-size: 18px;
                        text-decoration: none;
                        padding: 8px 30px;
                        border-radius: 15px;
                        background-color: rgb(35, 136, 224);
                    }
                }
            }
        }

        .home-descricao {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 30px;
                letter-spacing: 5px;
            }

            h2 {
                font-style: italic;
                color: $color-primaria;
                text-align: center;
                font-size: 24px;
                margin: 10px 0 30px 0;
                animation: dev 4s infinite;

                @keyframes dev {
                    0% {
                        color: $color-fonte;
                    }

                    40% {
                        color: $color-primaria;
                    }

                    80% {
                        color: $color-fonte-secundaria;
                    }

                    100% {
                        color: $color-fonte;
                    }
                }
            }

            p {
                text-align: center;
                font-size: 18px;
                padding: 0 40px 20px;
            }
        }

    }
}

@media (max-width:500px) {
    main {
        section {
            height: 100%;
        }
    }
}