footer {
    background-color: $background;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 12px;
    }
}

@media (min-width: 650px) {
    footer {
    
        p {
            font-size: 16px;
        }
    }
}