nav {
    div {
        cursor: pointer;
        span {
            display: block;
            width: 40px;
            border-top: 4px solid $fonte;
            &::after,
            &::before {
                border-top: 4px solid $fonte;
                content: "";
                display: block;
                position: relative;
                margin-top: 3px;
                transition: 0.4s;
            }
        }
    }
    ul {     
        position: fixed;
        background-color: $background;
        top: 10vh;
        left: 100vw;
        transition: 0.5s;
        li {
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100vw;  
                height: 18vh; 
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 3px;
                text-decoration: underline;
            }
        }
    }
}

// MENU ATIVO
.botao-animation {
    border-top-color: transparent;
    margin: 0 0 15px 0;
    &::after {
        transform: rotate(135deg);
    }
    &::before {
        transform: rotate(-135deg);
        top: 7px;
    }
}

.lista-ativa {  
    left: 0;
}