.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 0 0;
    min-height: 90vh;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}