.habilidades {
    background-color: $background-alternativa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 40px;

    h2 {
        font-size: 24px;
        letter-spacing: 2px;
        margin: 10px 0 20px 0;
        text-decoration: underline;
        padding-bottom: 1px;
        border-bottom: 1px solid $fonte-alternativa;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 10px 0;

            ion-icon {
                font-size: 55px;
            }

            img {
                height: 48.13px;
                width: 48.13px;
                margin-bottom: 5px;
            }
            
        }
    }
}