@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace !important;
  color: #E1E8EB;
}
body .code {
  color: #E1E8EB;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
}
body .loading {
  background-color: #111032;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  -webkit-animation: loading 1s forwards 2s;
          animation: loading 1s forwards 2s;
}
@-webkit-keyframes loading {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
@keyframes loading {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
body .loading img {
  width: 80px;
}

header {
  position: fixed;
  background-color: #1f8bdd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100vw;
  height: 12vh;
}
header .code {
  font-size: 50px;
  color: #E1E8EB;
}

nav {
  position: fixed;
  right: 30px;
}
nav div {
  cursor: pointer;
}
nav div span {
  display: block;
  width: 45px;
  border-top: 5px solid #E1E8EB;
}
nav div span::after, nav div span::before {
  content: "";
  display: block;
  border-top: 5px solid #E1E8EB;
  margin-top: 4px;
  position: relative;
  transition: 0.4s;
}
nav ul {
  background-color: #E1E8EB;
  position: fixed;
  top: 0vh;
  top: 12vh;
  right: -100vw;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: #1f8bdd;
  width: 100vw;
  height: 10vh;
  letter-spacing: 6px;
}

.menu-ativo {
  right: 0;
  transition: 0.4s;
}

main {
  padding: 12vh 0 0 0;
}
main section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(50%, min(345px, 100%)), 1fr));
  background-color: #111032;
  min-height: 88vh;
}
main section .home-foto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main section .home-foto img {
  margin: 30px 0 0 0;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
main section .home-foto ul {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
main section .home-foto ul li a {
  color: #E1E8EB;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 15px;
  background-color: rgb(35, 136, 224);
}
main section .home-descricao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main section .home-descricao h1 {
  font-size: 30px;
  letter-spacing: 5px;
}
main section .home-descricao h2 {
  font-style: italic;
  color: #1f8bdd;
  text-align: center;
  font-size: 24px;
  margin: 10px 0 30px 0;
  -webkit-animation: dev 4s infinite;
          animation: dev 4s infinite;
}
@-webkit-keyframes dev {
  0% {
    color: #E1E8EB;
  }
  40% {
    color: #1f8bdd;
  }
  80% {
    color: #E1E8EB;
  }
  100% {
    color: #E1E8EB;
  }
}
@keyframes dev {
  0% {
    color: #E1E8EB;
  }
  40% {
    color: #1f8bdd;
  }
  80% {
    color: #E1E8EB;
  }
  100% {
    color: #E1E8EB;
  }
}
main section .home-descricao p {
  text-align: center;
  font-size: 18px;
  padding: 0 40px 20px;
}

@media (max-width: 500px) {
  main section {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */