@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace !important;
  color: #343A40;
}
body .code {
  color: #343A40;
  font-size: 50px;
}
body .loading {
  background-color: #FFC107;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  -webkit-animation: loading 1s forwards 1s;
          animation: loading 1s forwards 1s;
}
@-webkit-keyframes loading {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
@keyframes loading {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
body .loading .icon-loading {
  width: 65px;
  height: 65px;
  border: 8px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  -webkit-animation: icon-loading 1s infinite;
          animation: icon-loading 1s infinite;
}
@-webkit-keyframes icon-loading {
  to {
    transform: rotate(360deg);
  }
}
@keyframes icon-loading {
  to {
    transform: rotate(360deg);
  }
}

header {
  position: fixed;
  background-color: #FFC107;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 100vw;
  height: 12vh;
}

nav {
  position: fixed;
  right: 25px;
}
nav div {
  cursor: pointer;
}
nav div span {
  display: block;
  width: 35px;
  border-top: 4px solid #343A40;
}
nav div span::after, nav div span::before {
  content: "";
  display: block;
  border-top: 4px solid #343A40;
  margin-top: 5px;
  position: relative;
  transition: 0.4s;
}
nav ul {
  background-color: #343A40;
  position: fixed;
  top: 12vh;
  right: -100vw;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: #FFC107;
  width: 100vw;
  height: 15vh;
  letter-spacing: 6px;
  border-top: 0.1px solid #FFC107;
}

.menu-animation {
  border-top-color: transparent;
  margin: 0 0 15px 0;
}
.menu-animation::after {
  transform: rotate(135deg);
}
.menu-animation::before {
  transform: rotate(-135deg);
  top: 9px;
}

.menu-ativo {
  right: 0;
  transition: 0.4s;
}/*# sourceMappingURL=style.css.map */